.italic {
	text-decoration: italic;
}
.bold {
	font-weight: bold;
}
body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: linear-gradient(#393939, #686868);
}
header, .top-bar-content-left, .top-bar-content-right {
	display: flex;
	align-items: center;
	height: 3vw;
	background-color: #333;
	justify-content: space-between;
}
header {
	border-bottom: solid 0.8vh #6c6c40;
}
.top-bar-content-left {
	padding-left: 1vw;
	width: 45vw;
}
.top-bar-content-right {
	padding-right: 1vw;
	width: 30vw;
}
.flags {
	height: 1.8vw;
	width: 2.4vw;
}
.ico {
	height: 1.8vw;
	width: .;
	padding-right: 1vw;
	padding-left: 1vw;
}
.quote {
	color: #FFFFFF;
	font-family: "Playfair Display", serif;
	font-size: 110%;
	font-style: normal;
	vertical-align: center;
}
.title {
	height: 2vw;
	width: .vw;
	padding-right: 1vw;
}
aside {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	width: 11vw;
	height: 62.4vw;
	float: left;
	background: rgb(51,51,51);
	background: linear-gradient(180deg, #979797, #8c8c8c 100%);
}
.side-bar-image {
	padding-top: 1vw;
	width: 9vw;
	height: 9vw;
}
.casino-assurdo {
	display: grid;
	grid-template-rows: 14vw 14vw 0vw;
	grid-template-columns: 25vw 25vw;
	border: solid 0.8vh #6c6c40;
	grid-gap: 0.8vh;
	border-bottom: 0;
	background-color: #6c6c40;
}
.immagine-globo {
	width: 40vw;
	height: 20vw;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(10%, -120%);
	border-radius: 50%;
}
.table1, .table3, .table4, .table2 {
	width: 25vw;
	height: 14vw;
}
.grid {
	display: grid;
	grid-template-columns: 60vw;
	grid-template-rows: . .;
	background-color: #444;
	border: solid 0.8vh #990000;
	margin-bottom: 3vh;
	margin-top: 3vh;
}
.grid-title{
	font-size: 150%;
	color: #660000;
	font-weight: bold;
	border: solid 0.8vh #990000;
	width: 8vw;
	height: 2vw;
	margin: 1vw;
	padding: 2vw;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-item {
	font-size: 120%;
	color: #442222;
	font-weight: bold;
	border: solid 0.8vh #990000;
	width: 58vw;
	height: .vw;
	margin: 1vw;
	margin-top: 0;
	padding: 2vw;
	box-sizing: border-box;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 6.5vh;
	background-color: #333;
	font-size: 110%;
	border-top: solid 0.8vh #6c6c40;
	color: #b6afaf;
	font-weight: bold;
	text-decoration: italic;
}

* a {
	text-decoration: none;
}
span.separator {
	padding-left: 1vw;
	padding-right: 1vw;
}
.footer-image {
	width: .vh;
	height: 3vh;
}
.USdx {
	width: .vw;
	height: 2.5vw;
	float: right;
	position: fixed;
	bottom: 0.36vw;
	right: 0.36vw;
}
pre {
	transform: translate(-3%, -60%);
}
.colored {
	color: #8888ff;
}
.centrato {
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.none {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: left;
	width: 85vw;
	margin-top: -2vh;
	margin-bottom: -2vh;
}
hr {
	border: 0.4vh solid #7d7f51;
	width: 30vw;
}

section {
	border-left: solid 0.8vh #6c6c40;
}
.testo-centrato {
	margin-top: -1vh;
	text-align: center;
	align-items: center;
}